@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
    background-color: seashell;
}
header{
    text-align: center;
    position: relative;
    color: red;
}
a{
    font-family: 'Zen Dots', cursive;
    color: saddlebrown;
    text-decoration: none;
    font-size: 20px;
}

/* #salestable table {
    border: 1px  solid black;
} */
table{
    border-collapse: collapse;
    border: 1px  solid black;
    padding: 10px;
    width: 100px; 
}
td,tr{
  border: 1px  solid black;
    padding: 15px;
    width: 7px;  
}
