@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
* {
    background-color: rgba(214, 160, 121, 0.425);
}
header{
    text-align: center;
    position: relative;
    color: red;
}
a{
    font-family: 'Zen Dots', cursive;
    color: saddlebrown;
    text-decoration: none;
    font-size: 20px;
}


td,tr{
  border: 1px  solid black;
    padding: 15px;
    width: 7px;  
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: red;
    
}
th{
    color: black;
}

label {
    color: blue;
}

input:nth-child(9){
    background-color: rgba(80, 80, 180, 0.445);
}

input {
    background-color: white;
    padding: 10px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: royalblue;
}

main {
    background-color: chocolate;
    text-align: center;
}

#Datatable {
    text-align: center;
    margin: auto;
}

ul  {
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    border: 2px solid black;
    padding-bottom: 20px;
}

h2 {
    font-family: 'Yellowtail', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    color: red;
}

